.img-fluid {
    max-width: 100%;
}

nav{
    position: sticky;
    top:0;
    z-index: 3;
    height: 60px;
}

.container {
    position: relative;
}
.container > img {
    width: 100%;
}
.content{
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;

    width: 100%;
    height: 100%;
}
.info{
    z-index: 2;
    position: absolute;
    top: 40%;       /*??*/
    left: 0;

    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;

    width: 100%;
    height: 100%;
}

.bottoncino{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    animation-name: moveIn;
    animation-duration: 5s;
}

.buttons:hover{
    animation-name: vibrate;
    animation-duration: 0.1s;
    animation-iteration-count: infinite;
}

@keyframes moveIn {
    0% {
        transform: translateX(-100vw) translateY(-100vh);
    }
    100% {
        transform: translateX(0px) translateY(0px);
    }
}

@keyframes vibrate {
    0% {
        transform: rotatez(+4deg);
    }
    100% {
        transform: rotatez(-4deg);
    }
}

.cont-modale{
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
        display: none;
}

.sideMenu {
    height: 100%;
    position: fixed;
    top: 60px;
    left: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
        /* display: none; */
}

.row {
    display: flex;
    flex-wrap: wrap;
}
.col-1 {
    width: calc(1 / 12 * 100%);
}
.col-2 {
    width: calc(2 / 12 * 100%);
}
.col-3 {
    width: calc(3 / 12 * 100%);
}
.col-4 {
    width: calc(4 / 12 * 100%);
}
.col-6 {
    width: calc(6 / 12 * 100%);
}
.col-7 {
    width: calc(7 / 12 * 100%);
}
.col-8 {
    width: calc(8 / 12 * 100%);
}
.col-9 {
    width: calc(9 / 12 * 100%);
}
.col-10 {
    width: calc(10 / 12 * 100%);
}
.col-12 {
    width: calc(12 / 12 * 100%);
}
/* sm - da 576px di larghezza di schermo in su sto selezionando gli smartphone in landscape (orizzontale) */
@media (min-width: 576px) {
    .menu{
        display: none;
    }
    .links{
        display: flex;
        justify-content: center;
    }
    .brand{
        justify-content: left;
        padding-left: 1rem;
    }
    .col-sm-1 {
        width: calc(1 / 12 * 100%);
    }
    .col-sm-2 {
        width: calc(2 / 12 * 100%);
    }
    .col-sm-3 {
        width: calc(3 / 12 * 100%);
    }
    .col-sm-4 {
        width: calc(4 / 12 * 100%);
    }
    .col-sm-6 {
        width: calc(6 / 12 * 100%);
    }
    .col-sm-9 {
        width: calc(9 / 12 * 100%);
    }
    .col-sm-10 {
        width: calc(10 / 12 * 100%);
    }
    .col-sm-12 {
        width: calc(12 / 12 * 100%);
    }
}
/* md - da 768px di larghezza di schermo in su sto selezionando gli tablet in portrait (verticale) */
@media (min-width: 768px) {
    .col-md-3 {
        width: calc(3 / 12 * 100%);
    }

    .col-md-4 {
        width: calc(4 / 12 * 100%);
    }

    .col-md-6 {
        width: calc(6 / 12 * 100%);
    }
    .col-md-12 {
        width: calc(12 / 12 * 100%);
    }
}
/* lg - da 992px di larghezza di schermo in su sto selezionando gli tablet in landscape (orizzontale) + vecchi dispositivi desktop */
@media (min-width: 992px) {
    .col-lg-3 {
        width: calc(3 / 12 * 100%);
    }

    .col-lg-4 {
        width: calc(4 / 12 * 100%);
    }

    .col-lg-6 {
        width: calc(6 / 12 * 100%);
    }
    .col-lg-12 {
        width: calc(12 / 12 * 100%);
    }
}
/* xl - da 1200px di larghezza di schermo in su sto selezionando i dispositivi desktop moderni */
@media (min-width: 1200px) {
    .col-xl-3 {
        width: calc(3 / 12 * 100%);
    }

    .col-xl-4 {
        width: calc(4 / 12 * 100%);
    }

    .col-xl-6 {
        width: calc(6 / 12 * 100%);
    }
    .col-xl-12 {
        width: calc(12 / 12 * 100%);
    }
    .spacer {
        padding:0 calc(2 / 12 * 100%);
    }
}